{% extends "layout.html" %}

{% block title %} {{data["name"]}} {% endblock %}

{% block body %}
{{ super() }}
<div class="recipe-card" style="background-image: url('static/{{name}}.jpg');">
    <h1>{{data["name"]}}</h1>
</div>
<div id="recipe-body">
    <div class="sub_sections">
        <table id="ingredients_table">
            <tr><th style="border-bottom: 1px solid #A9A9A9;">Item</th><th style="border-bottom: 1px solid #A9A9A9;">Quantity</th></tr>
            {% for item in data["ingredients"] %}
                <tr><td>{{item["name"]}}</td><td>{{item["quantity"]}}</td></tr>
            {% endfor %}
        </table>
    </div>
    <div class="sub_sections">
        <ol id="instructions_list">
            {% for item in data["instructions"] %}
                <li>{{item}}</li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}
